.main {
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.documentHeaderContainer {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto min-content;
    align-items: baseline;

    p {
        margin: 0;
        margin-bottom: 0.4em;
    }
}

.documentHeader {
    display: flex;
    justify-content: space-between;
}

.documentTitle {
    word-break: break-word;
}

.documentDescription {
    color: rgba(0,0,0,0.6);
}

.documentActions {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.pageActions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.pageAction {
    display: flex;
    align-items: center;
    margin: 1em;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in;

    p {
        margin: 0 0 0 10px;
    }

    &:hover {
        box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
    }
}