.documentListContainer {
    width: 300px;
    border-right: 1px solid #ccc;
    height: 100%;
    padding: 10px 0 0 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: #2C7EDE;
    // box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2) inset;

    * {
        color: #fafafa;
        text-decoration: none;
        word-break: break-word;
    }
}

.navHeader {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;

    p {
        font-size: 1.1rem;
    }
}

.actionButtons {
    padding: 10px 15px;
    color: white;
}

.documentList {
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.pageActions {
    position: sticky;
    bottom: 0;
    background-color: #345ED8;
    padding: 10px;
    text-align: right;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-items: center;
}