.documentCard {
    margin-bottom: 0.2rem;
}

.documentHeader {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    padding: 10px;
}

.expandButton {
    margin: 5px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}

.childrenList {
    list-style-type: none;
    margin: 0;

    li {
        margin-bottom: 0;
    }
}

.active {
    background-color: rgba(0,0,0,0.2);
}