@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Lato, 'Helvetica Neue'
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.3;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

blockquote, dl, ol, p, pre, ul {
    margin: 1.2em 1em;
}

ul, ol {
    list-style-position: inside;
    padding-left: 1em;
}

li {
    margin-bottom: 0.4em;
}

li p {
    display: inline;
    margin: 0;
}

table, td {  
    border: 1px solid #ddd;
    text-align: left;
}

th {
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}

th, td {
    padding: 15px;
}

blockquote {
    color: rgba(0,0,0,.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.1);
}

a {
    color: #0c93e4;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

span {
    font-size: inherit;
}

sub, sup {
    font-size: 0.85em;
}

button, .button {
    border-radius: 5px;
    padding: 10px 20px;

    &:hover {
        box-shadow: 3px 3px 4px 0 rgba(0,0,0, 0.1);
    }
}

.button-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.button-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

input {
    margin: 0.4em 0 1.5em 0;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #343434;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navList {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    a {
        color: inherit;
        text-decoration: none;
    }

    button {
        outline: none;
        border: none;
        padding: 10px;
        &:hover {
            background-color: rgba(0,0,0,0.1);
            box-shadow: none;
        }
    }
}