.cm-header {
    font-size: 2.5rem;
}

.cm-header-2 {
    font-size: 2rem;
}

.cm-header-3 {
    font-size: 1.75rem;
}

.cm-header-4 {
    font-size: 1.5rem;
}

.cm-header-5 {
    font-size: 1.25rem;
}

.cm-header-6 {
    font-size: 1rem;
}

.cm-quote {
    color: #546E7A
}