@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.monaco-editor {
    max-width: 100% !important;
    * {
        font-family: 'Inconsolata', monospace;
        font-size: 18px;
    }
}